@model DiChoSaiGon.Models.Product

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> lsProducts = ViewBag.SanPham;
}
@section HeadStyles {
    <style>
        .btn-custom-size.lg-size {
            width: 200px;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
        }

        .new-price {
            font-weight: bold;
            color: #ba1234;
            font-family: 'Roboto Condensed','Helvetica Neue',Helvetica,Arial,sans-serif;
        }

        .price-box span {
            font-size: 22px;
        }

        .btn-primary {
            color: #fff;
            background-color: #006411;
            border-color: #006411;
        }

        .breadcrumb-item {
            height: 50%;
        }

        .breadcrumb-heading {
            font-family: 'Roboto Condensed','Helvetica Neue',Helvetica,Arial,sans-serif;
        }

        .title {
            font-family: 'Roboto Condensed','Helvetica Neue',Helvetica,Arial,sans-serif;
        }
    </style>
        }
<!-- Begin Main Content Area  -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height ">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h1 class="breadcrumb-heading">@Model.ProductName</h1>
                        <ul>
                            <li>
                                <a href="https://localhost:44327/">Home <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>@Model.ProductName</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area section-space-top-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-product-img h-100">
                        <div class="swiper-container single-product-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="~/images/products/large-size/2-1-555x645.jpg" class="single-img gallery-popup">
                                        <img class="img-full" src="~/images/products/@Model.Thumb" alt="@Model.Title">
                                    </a>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-thumb-with-content row">
                        <div class="col-12 order-lg-1 order-2 pt-10 pt-lg-0">
                            <div class="single-product-content">
                                <style>
                                    .single-product-content {
                                        font-family: 'Roboto Condensed','Helvetica Neue',Helvetica,Arial,sans-serif;
                                    }
                                </style>
                                <h2 class="title">@Model.ProductName</h2>
                                <div class="price-box pb-1">
                                    <span class="new-price text-danger">@Model.Price.Value.ToString("#,##0") VNĐ</span>
                                </div>
                                <div class="rating-box-wrap pb-7">
                                    <div class="rating-box">
                                        <ul>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                        </ul>
                                    </div>

                                </div>
                                <p class="short-desc mb-6">@Model.Description</p>
                                <ul class="quantity-with-btn pb-7">
                                    <li class="quantity">
                                        <div class="cart-plus-minus">
                                            <input id="txtsoLuong" name="txtsoLuong" class="cart-plus-minus-box" value="1" type="text">
                                        </div>
                                    </li>
                                    <li class="add-to-cart">
                                        <a class="btn btn-custom-size lg-size btn-primary btn-secondary-hover rounded-0" href="javascript:void(0)">Thêm vào giỏ hàng</a>
                                        <input hidden asp-for="ProductId" />
                                    </li>
                                </ul>


                            </div>
                        </div>
                        <div class="col-12 order-lg-2 order-1 pt-10 pt-lg-0">
                            <div class="swiper-container single-product-thumbs">
                                <div class="swiper-wrapper">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*// san pham tuong tu*@

    <div class="product-slider-area section-space-top-95 section-space-bottom-100">
        <div class="container">
            <div class="section-title text-center pb-55">
                <span class="sub-title text-primary">Có thể bạn cũng thích</span>
                <h2 class="title mb-0">SẢN PHẨM TƯƠNG TỰ</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-slider-holder swiper-arrow">
                        <div class="swiper-container product-slider border-issue">
                            <div class="swiper-wrapper">
                                @if (lsProducts != null)
                                {
                                    foreach (var item in lsProducts)
                                    {
                                        string url = $"/{item.Alias}-{item.ProductId}.html";

                                        <div class="swiper-slide">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="@url">
                                                        <img class="img-full" src="~/images/products/@item.Thumb" alt="@item.Title" />
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                <a href="cart.html">
                                                                    <i class="pe-7s-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="compare.html">
                                                                    <i class="pe-7s-shuffle"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="wishlist.html">
                                                                    <i class="pe-7s-like"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content texx">
                                                    <a class="product-name" href="@url">@item.ProductName</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">@item.Price.Value.ToString("#,##0") VNĐ</span>
                                                    </div>
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }


                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here  -->
@section Scripts{
    <script>
        $(document).ready(function () {
            $(function () {
                $(".add-to-cart").click(function () {
                    var productid = $('#ProductId').val();
                    var soLuong = $('#txtsoLuong').val();
                    $.ajax({
                        url: '/api/cart/add',
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            productID: productid,
                            amount: soLuong
                        },
                        success: function (response) {
                            if (response.result == 'Redirect') {
                                window.location = response.url;
                            }
                            else {
                                loadHeaderCart(); //Add Product success
                                location.reload();
                            }
                            console.log(response); // log to the console to see whether it worked
                        },
                        error: function (error) {
                            alert("There was an error posting the data to the server: " + error.responseText);
                        }
                    });
                });

        @*$(".removecart").click(function () {
                var productid = $(this).attr("data-productid");
                $.ajax({
                url: "api/cart/remove",
                type: "POST",
                dataType: "JSON",
                data: { productID: productid },
                success: function (result) {
                if (result.success) {
                loadHeaderCart();//Reload lai gio hang
                location.reload();
                }
                },
                error: function (rs) {
                alert("Remove Cart Error !")
                }
                });
                });*@
                });
            function loadHeaderCart() {
                $('#miniCart').load("/AjaxContent/HeaderCart");
                $('#numberCart').load("/AjaxContent/NumberCart");
            }
        });
    </script>

}